<h1>Welcome to Two Minute Break!</h1>

<h1>Hello!</h1>


<ul>


 <!-- @reddit_stories.each do |story|  -->

<% @reddit_stories.each do |story| %>
	
		<li>
			<%= story[:title] %> | <%= link_to story[:url], story[:url] %> | <%= story[:score] %> 
		</li>

<% end %>




<p>ABOUT</p>
<%= link_to "my two minute breaks", controller: "wires" %> | 
<%= link_to 'New wire', new_wire_path %> 

